html{
    scroll-behavior: smooth;
}

.login a{
    text-decoration: none;
}

.login h3{
    display: flex;
    justify-content: flex-end;
    margin: 25px 60px 0px 0px;
    color: #0B6635;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
}

.login h3:hover{
    color: #00af52;
}

.login h4{
    display: flex;
    justify-content: flex-end;
    margin: 15px 50px 0px 0px;
    color: #0B6635;
    font-family: 'Poppins', sans-serif;
}

.login a{
    color: #0B6635;
    font-size: 1em;
    font-weight: 500;
}

.login .logout{
    margin-top: 0px;
}

i{
    color: black;
    font-size: 1.12em;
}


.logout:hover{
    cursor: pointer;
    color: #00af52;
}

/* Comienzo estilos del modal de cerrar sesion */
.modal-footer a{
    color: white;
    background-color: #0B6635;
    border: none;
}

.modal-footer a:hover{
    background-color: #03361b;
}

.modal-footer button{
    color: white;
    background-color: #0B6635;
    border: none;
}

.modal-footer button:hover{
    background-color: #03361b;
}

.modal-header h1{
    margin-left: 162px;
    color: black
}

.modal-body {
    text-align: center;
}

.modal-body span {
    display: block; /* Hace que cada línea sea un bloque */
    color: #0B6635;
}

.modal-body .smaller-text {
    font-size: 80%; /* Reduce el tamaño del texto */
}

.modal-footer, .modal-header{
    border: none !important;
}

/*FIN DE ESTILOS DEL MODAL SINGOUT*/

.logo img{
    width: 120px;
    height: 120px;
}

.logo{
    display: flex;
    justify-content: center;
}

.nav-links{
    display: flex;
    list-style: none;
    margin-top: 20px;
    justify-content: space-around;
    margin-left: 190px;
}

.nav-links a{
    text-decoration: none;
    color: #0B6635;
    font-size: 1.7em;
    margin: 0px 60px 0px 60px;
    font-family: 'Poppins', sans-serif;
}

.nav-links a:hover{
    color: #00af52;
}

.foro-banner {
    position: relative;
    width: 100%;
    height: 300px; /* Ajusta la altura según tus necesidades */
    background-image: url('img/Banner\ foro.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foro-banner h1{
    color: black;
    font-size: 5em;
    font-weight: bold;
    margin-top: 175px;
}

.foro-title{
    display: flex;
    justify-content: center;
    margin-top: 55px;
    color: black;
}

.foro-title h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.foro-publicacion-wrapper{
    background-color: #2D6806;
    display: flex;
    margin: 70px 0px 70px 0px;
    padding: 20px 0px 40px 0px;
}

.foto-user-name-wrapper{
    margin-left: 90px;
}

.foto-user{
    margin-top: 20px;
}

.foto-user img{
    width: 90px;
    height: 90px;
}

.name-user h4{
    color: white;
    margin-left: 17px;
    margin-top: 10px;
}

.foro-pregunta-wrapper h2{
    color: white;
    margin-left: 50px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    
}

.foro-pregunta-wrapper input{
    width: 1300px;
    height: 70px;
    border-radius: 20px;
    border: none;
}

.foro-pregunta-wrapper input::placeholder{
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

.button-enviar{
    display: flex;
    justify-content: flex-end;
    margin: 20px 30px 0px 0px
}

.button-enviar button{
    color: #2D6806;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 20px;
}

.button-enviar button:hover{
    background-color: #f3f3f3;
}

.last-discusiones-title{
    display: flex;
    justify-content: center;
}

.last-discusiones-title h2{
    font-size: 2.4em;
    font-weight: bold;
    color: black;
}

.foro-pregunta{
    margin-left: 100px;
    margin-top: 50px;
}

.foro-pregunta h2{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.button-comentarios{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px 0px 0px;
    margin-right: 260px;
}

.button-comentarios button{
    color: #2D6806;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 20px;
}

.button-comentarios button:hover{
    background-color: #f3f3f3;
}

.clase-footer{
    margin-top: 200px;
}

.textos{
    display: flex;
    justify-content: space-around;
    background-color: #2D6806;
    padding: 20px 0px;
    color: white;
}

.textos h4{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 0;
    font-size: 1.5em;
}

.wraper-footer{
    display: flex;
    justify-content: space-around;
}

.contacto-wrapper, .lista-wrapper, .cuenta-wrapper{
    margin-top: 12px;
    margin-bottom: 12px;
}

.lista-contacto ul{
    list-style: none;
    
}

.lista-contacto a{
    text-decoration: none;
    color: black;
}

.lista-contacto li{
    margin: 20px 0px;
}

.lista-contacto li:hover{
    color: #00af52;
    cursor: pointer;
}

.lista-contacto a:hover{
    color: #00af52;
}

.lista-servicio ul{
    list-style: none;
    margin-right: 90px;
}

.lista-servicio li{
    margin: 10px 0px;
}

.lista-servicio a{
    text-decoration: none;
    color: black;
}

.lista-servicio a:hover{
    color: #00af52;
}

.lista-cuenta ul{
    list-style: none;
}

.lista-cuenta li{
    margin: 20px 0px;
}

.lista-cuenta a{
    text-decoration: none;
    color: black;
}

.lista-cuenta a:hover{
    color: #00af52;
}

.copi h4{
    background-color: #2D6806;
    margin: 0;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
}

.copi{
    display: flex;
    justify-content: center;
    background-color: #2D6806;
    color: white;
    padding: 15px 0px;
}

#barras-foro{
    display: none;
}

#x-foro{
    display: none;
}

#barras-php-foro{
    display: none;
}

#x-php-foro{
    display: none;
}

#home-php-foro, #book-php-foro, #medal-php-foro, #star-php-foro, #message-php-foro{
    display: none;
}

#home-foro, #book-foro, #medal-foro, #star-foro, #message-foro{
    display: none;
}



/* COMIENZO responsive NAV*/

    @media screen and (max-width: 600px) {

        #left-menu-foro{
        height: 100vh;
        position: fixed;
        width: 0;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #2D6806;
        overflow-x: hidden;
        transition: .3s;
        
        }
    
        .nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        height: 60%;
        }
    
        .nav-links li::after {
        content: "";
        display: block;
        border: none;
        background-color: white;
        height: 4px;
        margin: 0;
        padding: 0px 170px;
        
    }
    
    .nav-links li{
        margin: 8px 0px 8px 0px;
    }
    
        .nav-links li a{
        font-size: 1.3em;
        padding-left: 20px;
        margin: 0px;
        color: white;
        }
    
        .nav-links li a:hover{
        color: black;
        }
    
        .nav-links li i{
        color: white;
        font-size: 2em;
        margin-left: 20px;
        }
    
        #left-menu-foro #x-foro{
        display: block;
        }
        
        #barras-foro{
        display: block;
        cursor: pointer;
        }
    
        #barras-foro{
        font-size: 3em;
        }
    
        #x-foro{
        font-size: 3em;
        cursor: pointer;
        color: white;
        }

        #home-foro, #book-foro, #medal-foro, #star-foro, #message-foro{
            display: inline;
        }
    
    }
    /* FIN responsive NAV*/

    .nav-links li i{
        display: none;
    }

/* Comienzo responsive boton inicio sesion*/

@media screen and (max-width: 600px) {

    .login a h3{
    font-size: 1.2em;
    margin: 0;
    }

    .login {
    position: absolute;
    right: 0;
    margin-top: 140px;
    margin-right: 20px; 
    }

    header{
        margin-top: 40px;
    }

}




    /* COMIENZO responsive NAV PHP*/

    @media screen and (max-width: 600px) {

        #left-menu-php-foro{
        height: 100vh;
        position: fixed;
        width: 0;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #2D6806;
        overflow-x: hidden;
        transition: .3s;
        
        }
    
        .nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        height: 60%;
        }
    
    .nav-links li::after {
        content: "";
        display: block;
        border: none;
        background-color: white;
        height: 4px;
        margin: 0;
        padding: 0px 170px;
        
    }
    
    .nav-links li{
        margin: 8px 0px 8px 0px;
    }
    
        .nav-links li a{
        font-size: 1.3em;
        padding-left: 20px;
        margin: 0px;
        color: white;
        }
    
        .nav-links li a:hover{
        color: black;
        }
    
        .nav-links li i{
        color: white;
        font-size: 2em;
        margin-left: 20px;
        }
    
        #left-menu-php-foro #x-php-foro{
        display: block;
        }
        
        #barras-php-foro{
        display: block;
        cursor: pointer;
        }
    
        #barras-php-foro{
        font-size: 3em;
        }
    
        #x-php-foro{
        font-size: 3em;
        cursor: pointer;
        color: white;
        }

        #home-php-foro, #book-php-foro, #medal-php-foro, #star-php-foro, #message-php-foro{
            display: inline;
        }
    
    }
    /* FIN responsive NAV*/
    
    /* Comienzo responsive sesion iniciada nombre PHP*/
    
    @media screen and (max-width: 600px) {
    
        #login-php-foro h3{
        font-size: 1em;
        margin: 0;
        }
    
        #login-php-foro h4{
        font-size: 1.2em;
        margin: 0;
        margin-top: 6px;
        }
    
        #login-php-foro {
        position: absolute;
        right: 0;
        margin-top: 120px;
        margin-right: 20px; 
        
        }
    }



    /* Comienzo responsive FOOTER*/
@media screen and (max-width: 600px) {

    .textos h4{
    font-size: 1.1em;
    }


    .lista-servicio li, .lista-cuenta li, .lista-contacto li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.9em;
    }

    .lista-servicio ul, .lista-contacto ul, .lista-cuenta ul{
    margin: 0;
    padding: 0;
    }

    .copi h4{
    font-size: 1em;
    }

}

/* FIN responsive FOOTER*/










.foro-publicacion-wrapper{
    background-color: #f2f2f2;
    display: flex;
    margin: 70px 0px 70px 0px;
    padding: 20px 0px 40px 0px;
}

.name-user h4{
    color: black;
    margin-left: 17px;
    margin-top: 10px;
}

.foro-pregunta-wrapper h2{
    color: black;
    margin-left: 50px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    
}

.foro-pregunta-wrapper input{
    background-color: #d4d4d4;
    width: 800px;
    height: 50px;
    border-radius: 20px;
    border: none;
    margin-left: 50px;
}

.foro-pregunta-wrapper input::placeholder{
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

.button-enviar{
    display: flex;
    justify-content: flex-end;
    margin: 20px 30px 0px 0px
}

.button-enviar button{
    color: white;
    background-color: #2D6806;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 20px;
}

.button-enviar button:hover{
    background-color: #03361b;
}


.last-discusiones-title{
    display: flex;
    justify-content: center;
}

.last-discusiones-title h2{
    font-size: 2.4em;
    font-weight: bold;
}

.foro-pregunta{
    margin-left: 50px;
    margin-top: 50px;
    width: 800px;
}

.foro-pregunta h2{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.button-comentarios{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px 0px 0px;
}

.button-comentarios button{
    color: white;
    background-color: #2D6806;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 20px;
    margin-right: 30px;
}

.button-comentarios button:hover{
    background-color: #03361b;
}

.clase-footer{
    margin-top: 200px;
}

.textos{
    display: flex;
    justify-content: space-around;
    background-color: #2D6806;
    padding: 20px 0px;
    color: white;
}

.textos h4{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 0;
    font-size: 1.5em;
}



    /* Comienzo responsive MAIN del foro*/
    @media screen and (max-width: 600px) {

        .foro-title{
            display: flex;
            justify-content: center;
            text-align: center;
        }
        
        .foro-title h2{
            font-size: 1.6em;
            
        }
    
        .foto-user-name-wrapper{
            margin: 0;
        }
    
        .foto-user img{
            width: 75px;
            height: 75px;
        }
    
        .name-user h4{
            font-size: 1.1em;
        }
    
        .foro-pregunta-wrapper input{
            margin: 0;
            margin-left: 20px;
            width: 450px;
            font-size: 0.9em;
        }

        .foro-pregunta-wrapper h2{
            margin: 0;
            margin-bottom: 20px;
            margin-left: 20px;
        }

        .button-enviar{
            margin: 0;
            margin-top: 20px;
        }

        .button-enviar button{
            width: 160px;
            height: 45px;
            font-size: 1.1em;
        }
    
        .last-discusiones-title h2{
            font-size: 2em;
        }

        .foro-pregunta{
            width: 450px;
            margin: 0;
            margin-left: 20px;
            margin-top: 25px;
        }
    
        .button-comentarios button{
            width: 180px;
            height: 45px;
            font-size: 1em;
            margin: 0;
        }

        .foro-pregunta h2{
            font-size: 1.2em;
        }

    }