*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

header{
    padding-bottom: 80px;
    margin-top: 20px;
}

body{
    margin-bottom: 150px;
    background-color: #f2f2f2;
}

.login a{
    text-decoration: none;
}

.login h3{
    display: flex;
    justify-content: flex-end;
    margin: 40px 60px 0px 0px;
    color: #0B6635;
}

.login h3:hover{
    cursor: pointer;
    color: #00af52;
}

.logo img{
    width: 120px;
    height: 120px;
}

.logo{
    display: flex;
    justify-content: center;
}

.nav-links{
    display: flex;
    list-style: none;
    margin-top: 20px;
    justify-content: space-around;
    margin-left: 190px;
}

.nav-links a{
    text-decoration: none;
    color: #0B6635;
    font-size: 1.7em;
    margin: 0px 60px 0px 60px;
    font-family: 'Poppins', sans-serif;
}

.nav-links a:hover{
    color: #00af52;
}

main{
    width: 100%;
    padding: 28px;
    margin: auto;
    margin-top: 100px;
}

.contenerdor-todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja-trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    background-color: #2D6806;
    border-radius: 20px;
}

.caja-trasera div{
    margin: 55px 40px;
    color: white;
    transition: all 500ms;
}

.caja-trasera div p, .caja-trasera div button{
    margin-top: 30px;
}

.caja-trasera div h3{
    font-weight: bold;
    font-size: 1.5em;
}

.caja-trasera button{
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 1.5em;
    border: 2px solid white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: all 300ms;
    color: white;
}

.caja-trasera button:hover{
    background: white;
    color: #2D6806;
}

/*FORMULARIOS*/

.contenedor-login-signup{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    transition: left 500ms cubic-bezier(0.175, 0.785, 0.320, 1.275);
}

.contenedor-login-signup form{
    width: 100%;
    padding: 80px 20px 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
    background-color: white;
}

.contenedor-login-signup form h2{
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #2D6806;
}

.contenedor-login-signup form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.contenedor-login-signup form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 1.3em;
    background: #2D6806;
    color: white;
    outline: none;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.formulario-login{
    opacity: 1;
    display: block;
}

.formulario-signup{
    display: none;
}

/* RESPONSIVE */

@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja-trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja-trasera div{
        margin: 0px;
        position: absolute;
    }   

    /* Fomurlarios */

    .contenedor-login-signup{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor-login-signup form{
        position: relative;
    }
}



