body {
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

div[id]{
  scroll-margin-top: 30px;
}

.login a{
  text-decoration: none;
}

.login h3{
  display: flex;
  justify-content: flex-end;
  margin: 40px 60px 0px 0px;
  color: #0B6635;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6em;
}

.login h3:hover{
  cursor: pointer;
  color: #00af52;
}

.logo img{
  width: 120px;
  height: 120px;
}

.logo{
  display: flex;
  justify-content: center;
}

.nav-links{
  display: flex;
  list-style: none;
  margin-top: 20px;
  justify-content: space-around;
  margin-left: 240px;
}

.nav-links a{
  text-decoration: none;
  color: #0B6635;
  font-size: 1.7em;
  margin: 0px 60px 0px 60px;
  font-family: 'Poppins', sans-serif;
}

.nav-links a:hover{
  color: #00af52;
}

.banner {
  position: relative;
  width: 100%;
  height: 400px; /* Ajusta la altura según tus necesidades */
  background-image: url('img/banner.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.banner button {
  font-size: 1.8em;
  background-color: #2D6806;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 30px 120px 0px 120px;
  width: 320px;
  height: 80px;
}

.banner button:hover {
  background-color: #03361b;
}

.main-wrapper{
  display: flex;
  margin: 0px;
  padding-bottom: 80px;
  padding-top: 40px;
}

.main-text h1{
  font-size: 4em;
  color: #0B6635;
  margin: 40px 350px 0px 100px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.main-foto{
  margin-top: 60px;
  box-shadow: 20px 15px 23px rgb(165, 165, 165);
}

.who-banner{
  position: relative;
  width: 100%;
  height: 350px; /* Ajusta la altura según tus necesidades */
  background-image: url('img/banner\ who.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.who-tittle{
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  color: #0B6635;
  padding-bottom: 60px;
  padding: 30px 0px 0px 0px;
}

.who-tittle h1{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.main-who-wrapper{
  display: flex;
  margin-left: 100px;
  padding-bottom: 80px;
}

.foto-text p{
  margin: 50px 380px 0px 0px;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
}

.foto-tilines img{
  margin-right: 250px;
}

.services-banner{
  position: relative;
  width: 100%;
  height: 400px; /* Ajusta la altura según tus necesidades */
  background-image: url('img/servicio\ banner.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-title{
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  color: #0B6635;
  padding: 30px 0px 40px 0px;
}

.service-title h1{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.options-wrapper{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 90px;
}

.img-option-serv img{
  width: 250px;
  height: 250px;
  border-radius: 15px;
}

.img-option-serv{
  border-radius: 15px;
  box-shadow: 8px 6px 10px 5px rgb(163, 163, 163);
}

.btn-option{
  display:flex;
  justify-content: center;
  margin-top: 15px;
}

.btn-option button{
  background-color: #2D6806;
  width: 240px;
  height: 50px;
  border-radius: 15px;
  color: white;
  border: none;
  font-size: 1.3em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;

}

.btn-option button:hover {
  background-color: #03361b;
}

.guia-banner{
  position: relative;
  width: 100%;
  height: 400px; /* Ajusta la altura según tus necesidades */
  background-image: url('img/guia\ banner.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guia-tittle{
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  color: #0B6635;
  padding: 30px 0px 30px 0px;
}

.guia-tittle h1{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.main-guia-wrapper{
  display: flex;
  padding-bottom: 80px;
}

.texto-izquierda{
  margin: 20px 140px 0px 100px;
}

.texto-izquierda h4{
  color: #2D6806;
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.texto-izquierda p{
  font-size: 1.3em;
}

.options-line{
  display: flex;
  flex-direction: row;
  margin-right: 100px;
}

.img-option img{
  width: 250px;
  height: 250px;
  border-radius: 15px;
}

.img-option img {
  border-radius: 15px;
  border: 2px solid green;
  margin: 0px 10px 0px 10px;
  box-shadow: 15px 15px 10px grey;
} 

/*No se pq no me pesca lo de arriba a no ser que sea por el xamp */ 

.img-option button{
  background-color: #2D6806;
  color: white;
  width: 230px;
  height: 45px;
  border-radius: 25px;
  border: none;
  font-size: 1.4em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.img-option button:hover {
  background-color: #03361b;
}

.riclaje-btn{
  display: flex;
  justify-content: center;
  margin: 20px 0px 40px 0px;
}

.mapa-banner{
  position: relative;
  width: 100%;
  height: 350px; /* Ajusta la altura según tus necesidades */
  background-image: url('img/mapa\ banner.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tittle-mapa{
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  color: #2D6806;
  padding: 30px 0px 30px 0px;
}

.tittle-mapa h1{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.main-mapa-wrapper{
  display: flex;
  padding-bottom: 80px;
}

.texto-mapa{
  margin: 0px 150px 0px 100px;
}

.texto-mapa h4{
  color: #2D6806;
  font-size: 2em;
  padding: 0px 0px 25px 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.texto-mapa p{
  font-size: 1.3em;
}

.google-maps{
  margin: 0px 100px 0px 0px;
  border: 4px solid rgb(238, 238, 238);
}



/* Comienzo estilos del footer*/
.textos{
  display: flex;
  justify-content: space-around;
  background-color: #2D6806;
  padding: 20px 0px;
  color: white;
}

.textos h4{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin: 0;
  font-size: 1.5em;
}

.wraper-footer{
  display: flex;
  justify-content: space-around;
}

.contacto-wrapper, .lista-wrapper, .cuenta-wrapper{
  margin-top: 12px;
  margin-bottom: 12px;
}

.lista-contacto ul{
  list-style: none;

}

.lista-servicio ul{
  list-style: none;
  margin-right: 90px;
}

.lista-cuenta ul{
  list-style: none;
}

.lista-contacto li{
  margin: 20px 0px;
}

.lista-contacto li:hover{
  color: #00af52;
  cursor: pointer;
}

.lista-contacto a:hover{
  color: #00af52;
}

.lista-servicio li{
  margin: 10px 0px;
}

.lista-cuenta li{
  margin: 20px 0px;
}

.lista-servicio a{
  text-decoration: none;
  color: black;
}

.lista-servicio a:hover{
  color: #00af52;
}

.lista-contacto a{
  text-decoration: none;
  color: black;
}

.lista-cuenta a{
  text-decoration: none;
  color: black;
}

.lista-cuenta a:hover{
  color: #00af52;
}

.copi h4{
  background-color: #2D6806;
  margin: 0;
  color: white;
  padding: 10px;
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
}

.copi{
  display: flex;
  justify-content: center;
  background-color: #2D6806;
  color: white;
  padding: 15px 0px;
}




/* Fin estilos del footer*/