body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.login a{
    text-decoration: none;
}

.login h3{
    display: flex;
    justify-content: flex-end;
    margin: 40px 60px 0px 0px;
    color: #0B6635;
    font-size: 1.6em;
    font-weight: 500;
}

.login h3:hover{
    color: #00af52;
}

.login h4{
    display: flex;
    justify-content: flex-end;
    margin: 15px 50px 0px 0px;
    color: #0B6635;
    font-family: 'Poppins', sans-serif;
}

.login a{
    color: #0B6635;
    font-size: 1em;
    font-weight: 500;
}

.login .logout{
    margin-top: 0px;
}

i{
    color: black;
    font-size: 1.12em;
}

.logout:hover{
    cursor: pointer;
    color: #00af52;
}

/* Comienzo estilos del modal de cerrar sesion */
.modal-footer a{
    color: white;
    background-color: #0B6635;
    border: none;
}

.modal-footer a:hover{
    background-color: #03361b;
}

.modal-header h1{
    margin-left: 158px;
    color: black
}

.modal-body {
    text-align: center;
}

.modal-body span {
    display: block; /* Hace que cada línea sea un bloque */
    color: #0B6635;
}

.modal-body .smaller-text {
    font-size: 80%; /* Reduce el tamaño del texto */
}

.modal-footer, .modal-header{
    border: none !important;
}

/*FIN DE ESTILOS DEL MODAL SINGOUT*/

.logo img{
    width: 120px;
    height: 120px;
}

.logo{
    display: flex;
    justify-content: center;
}

.nav-links{
    display: flex;
    list-style: none;
    margin-top: 20px;
    justify-content: space-around;
    margin-left: 240px;
}

.nav-links a{
    text-decoration: none;
    color: #0B6635;
    font-size: 1.7em;
    margin: 0px 60px 0px 60px;
    font-family: 'Poppins', sans-serif;
}

.nav-links a:hover{
    color: #00af52;
}

.bienvenida-usuario{
    display: flex;
    justify-content: space-around;
    margin: 100px 0px 65px 0px;
}

.bienvenida-usuario h1{
    margin-right: 570px;
    font-size: 3em;
}

.x-puntos{
    display: flex;
    justify-content: center;
    font-size: 1.8em;
}

.x-puntos h3{
    margin: 0;
}

.pregunta{
    display: flex;
    justify-content: center;
    font-size: 1.6em;
    padding-top: 20px;
}

.pregunta h5{
    margin: 0;
}

.bene-dispo{
    display: flex;
    justify-content: center;
    margin-top: 38px;
    font-size: 1.7em;
    margin-bottom: 80px;
}

.primeros-cupones{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

.segundos-cupones{
    display: flex;
    justify-content: space-evenly;
}

button{
    width: 500px;
    height: 80px;
    background-color: #2D6806;
    color: white;
    border-radius: 10px;
    font-size: 1.6em;
    border: none;
    font-weight: bold;
}

.btn-250 button:hover{
    background-color: #03361b;
    cursor: pointer;
}

.btn-500 button:hover{
    background-color: #03361b;
    cursor: pointer;
}

.btn-750 button:hover{
    background-color: #03361b;
    cursor: pointer;
}

.btn-1000 button:hover{
    background-color: #03361b;
    cursor: pointer;
}

.clase-footer{
    margin-top: 200px;
}

.textos{
    display: flex;
    justify-content: space-around;
    background-color: #2D6806;
    padding: 20px 0px;
    color: white;
}

.textos h4{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 0;
    font-size: 1.5em;
}

.wraper-footer{
    display: flex;
    justify-content: space-around;
}

.contacto-wrapper, .lista-wrapper, .cuenta-wrapper{
    margin-top: 12px;
    margin-bottom: 12px;
}

.lista-contacto ul{
    list-style: none;

}

.lista-contacto li:hover{
    color: #00af52;
    cursor: pointer;
}

.lista-contacto a:hover{
    color: #00af52;
}

.lista-contacto li{
    margin: 20px 0px;
}

.lista-contacto a{
    text-decoration: none;
    color: black;
}

.lista-servicio ul{
    list-style: none;
    margin-right: 90px;
}

.lista-servicio li{
    margin: 10px 0px;
}

.lista-servicio a{
    text-decoration: none;
    color: black;
}

.lista-servicio a:hover{
    color: #00af52;
}

.lista-cuenta ul{
    list-style: none;
}

.lista-cuenta li{
    margin: 20px 0px;
}

.lista-cuenta a{
    text-decoration: none;
    color: black;
}

.lista-cuenta a:hover{
    color: #00af52;
}

.copi h4{
    background-color: #2D6806;
    margin: 0;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
}

.copi{
    display: flex;
    justify-content: center;
    background-color: #2D6806;
    color: white;
    padding: 15px 0px;
}


/* Inicio de estilos de modales*/

#btn-250{
    background-color: #2D6806;
    font-size: 1.2em;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

#btn-250:hover{
    background-color: #03361b;
}

#btn-500{
    background-color: #2D6806;
    font-size: 1.2em;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

#btn-500:hover{
    background-color: #03361b;
}

#btn-750{
    background-color: #2D6806;
    font-size: 1.2em;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

#btn-750:hover{
    background-color: #03361b;
}

#btn-1000{
    background-color: #2D6806;
    font-size: 1.2em;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

#btn-1000:hover{
    background-color: #03361b;
}

